footer {
    background-color: #001846;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

footer p {
    
    background-color: #001846;
}