header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

nav {
    display: flex;
    background-color: rgb(75, 65, 65);
}

header ul {
    display: flex;
    


}  
header ul p {
    display: flex;
}

header ul p  a {
    display: flex;
    margin-left: 24px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
}

header ul a:hover {
    color: #0466c8
}