

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.icon {
    font-size: 12rem;
    padding: 12px;
    
}

h2 {
    margin-top: 2rem;
    font-size: 3rem;
}

.cta {
    margin-top: 36px;
    margin-bottom: 36px;
    background-color:#0466c8;
    padding: 12px 24px 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    font-size: x-large;
    transition: background-color 0.5s ease;
    
}

.recent-post {
    text-decoration: none;
}


.cta:hover {
    background-color: #00a8e8;
}

.box:not(:hover) {
    transition: background-color 1s ease; 
    background-color: initial; 
}

h3 {
    font-size: 2rem;
}

.social {
    
    display: flex;
    margin: 24px;
    
}

