{{ define "main" }}
<section class="posts-page">
    <h2>{{ .Title }}</h2>
    

    <div class="grid">
        {{ range .Pages }}
            
        <div class="post">
            <a href="{{ .RelPermalink }}">
                    <img src="{{ relURL .Params.image }}" alt="thumb"> 
                    <p class="title">{{ .Title }}</p>
                    <p class="Subtitle"> {{ .Params.Subtitle }}</p>
                    <div class="hashtags">

                        {{ range .Params.topic }}
                        <p>{{ . }}</p>
                        {{ end }}
                    </div>
                </a>
            </div>
            
            {{ end }}
    </div>
    
</section>
    {{ end }}